.que.essayhelper textarea.qtype_essayhelper_response {
    width: 100%;
}

.que.essayhelper textarea.qtype_essayhelper_response.qtype_essayhelper_plain {
    white-space: pre-wrap;
    font: inherit;
}

.que.essayhelper textarea.qtype_essayhelper_response.qtype_essayhelper_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

.que.essayhelper .qtype_essayhelper_response {
    min-height: 3em;
}

.que.essayhelper .qtype_essayhelper_response.readonly {
    background-color: white;
}

.que.essayhelper div.qtype_essayhelper_response textarea {
    width: 100%;
}
